<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Interactive Infographic | Sickle Cell Disease</title>

    <link rel="shortcut icon" type="image/png" href="images/faviconSickle.png"/>
</head>
<body>
   <img src="images/sickleBack.svg" class="sickleBack" alt="sickleBack">
   <header>
      <img src="images/logo.svg" class="logo" alt="logo">
      <h1>Sickle Cell Anemia</h1>
      <h2>Understanding the Impact</h2>
   </header>
   <main>

 
     <div id="slide">
      <div id="toggle"><img src="images/tabRight.svg" class="tabRight" id="tabRight" alt="tabRight"><div class="fact1Img"> <img src="images/fact1Img.svg" class="fact1Img" id="fact1Img" alt="fact1Img"></div></div>
      <div class="box">      
      
      <div class="fact1">       
         {{#each data}}
          <p>{{discoverer}}</p>
         {{/each}} 
      </div>
      </div>
      </div>


      <section class="topInfo">
      <div class="question">
      <h1>Sickle Cell Disease</h1>
      <h2>What is it?</h2>
      </div>

      <div class="bloodCells">
      <div class="badCell"> <img src="images/badBlood.svg" class="badBlood" id="badBlood" alt="badBlood"></div>
      <div class="goodCell"> <img src="images/goodBlood.svg" class="goodBlood" id="goodBlood" alt="goodBlood"></div>
      </div>
      </section>


  {{!-- <img src="images/goodVein.svg" class="goodVein" id="goodVein" alt="goodVein" > --}}
  <img src="images/badVein.svg" class="badVein" id="badVein" alt="badVein" > 
   <img src="images/goodVein.svg" class="goodVein" id="goodVein" alt="goodVein" >



      
   <div class="stats">
   
      <div class="stat1">        
         {{#each data}}
          <h1>{{stat1}}</h1>
         {{/each}} 
         {{#each data}}
          <p>{{statDesc}}</p>
         {{/each}} 
      </div>

      <div class="stat2">
         {{#each data}}
          <h1>{{stat2}}</h1>
         {{/each}}
         {{#each data}}
          <p>{{stat2Desc}}</p>
         {{/each}} 
      </div>

      <div class="stat3">
         {{#each data}}
         <h1>{{stat3}}</h1>
         {{/each}}
         {{#each data}}
          <p>{{stat3Desc}}</p>
         {{/each}} 
      </div>

      <div class="stat4">
         {{#each data}}
         <h1>{{stat4}}</h1>
         {{/each}}
         {{#each data}}
          <p>{{stat4Desc}}</p>
         {{/each}} 
      </div>

      </div>


      </div>
      <div class="badCellDesc">
      <h1>Abnormal Blood Cells</h1>


      <p>
      The misshaped red blood cell
      causes obstructions in blood
      vessels. The sickle-shaped
      cells cluster together which can
      block blood flow.
      </p>
      <br>
      <h1>Normal Blood Cells</h1>
      <p>
      Healthy red blood
      cells carry oxygen
      throughout the body.
      </p>
      </div>

      <div id="slide2">
      <div id="toggle2"><img src="images/tabRight.svg" class="tabRight" id="tabRight" alt="tabRight"> <img src="images/fact2Img.svg" class="fact2Img" id="fact2Img" alt="fact2Img"></div>
      <div class="box2">      
      
      <div class="fact2">       
         {{#each data}}
          <p>{{mosquitoes}}</p>
         {{/each}} 
      </div></div>
      </div>


      
      <div class="factCont">

         
      </div>


      </div>
      


{{!-- diagram lightbox button --}}
    <div class="diagramCont">
        {{#each data}}
        
        <div class="user-panel">
        <img class="u-foodImage" src="images/{{ image }}" alt="geneDiagram"> <!--avatar key taken out of data-->

        <a class="u-link" href="{{ ID }}">
            Heredity
        </a>
        </div>

        {{/each}} 
    </div>
{{!-- diagram lightbox button end --}}


    </div>
      
     <div id="slide3">
      <div id="toggle3"> <img src="images/fact3Img.svg" class="fact3Img" id="fact3Img" alt="fact3Img"><img src="images/tabLeft.svg" class="tabLeft" id="tabLeft" alt="tabLeft"></div>
      <div class="box3">      
      
      <div class="fact3">       
         {{#each data}}
          <p>{{genetics}}</p>
         {{/each}} 
      </div></div>
      </div>




    <!-- this will be filled in on the client side when we render our AJAX data -->
    <section class="lightbox">

        
        <span class="close">x</span>

        <div class="sidebar">
            <img src="" alt="diagram image">
         </div>
        
        <div class="lb-content">
        </div>
        
    </section>

    
</section>





   </main>

   <footer>
      <h1>derrikxavier © 2019 </h1> 
      <h2>Sources:<br>
         1. https://www.who.int/ <br>
         2. https://sites.google.com/a/sicklecellontario.org/www/sickle-cell-101/a-history-of-sickle-cell-disease <br>
         3. https://www.npr.org/sections/health-shots/2013/07/17/202628070/sickle-cell-anemia-is-on-the-rise-worldwide <br>
         4. https://sicklecellontario.ca/about-sickle-cell/the-history-of-sickle-cell/<br>
         5. https://www.sicklecelldisease.ca/eng/2018/09/28/sickle-cell-trait/</h2>
   </footer>

   <script src="js/main.js"></script>
 
</body>
</html>